.maroon {
  background-color: #A62238;
}

.teal {
  background-color: #00626E;
}

.darkGreen {
  background-color: #024F3D;
}

.softOrange {
  background-color: #CC6A2E;
}

.black {
  background-color: black;
}
