@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

.mainContainer {
  font-family: 'EB Garamond', serif;
  width: 600px;
  min-width: 600px;
  padding: 12px;
  color: white;
  vertical-align: top;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
}

.mainContainer div {
  width: 49%;
}

.mainContainer .bottom {
  width: 100%;
}

.mainContainer .bottomLeft {
  text-align: left;
  align-content: left;
}

.mainContainer .bottomRight {
  text-align: right;
  align-content: right;
}

.mainContainer h1 {
  letter-spacing: 5px;
  font-variant: small-caps;
  font-size: 45px;
  width: 75%;
}

.mainContainer p {
  font-size: 28px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.mainContainer p a {
  color: #FF0;
  text-decoration: none;
}

.mainContainer p a:hover {
  color: #A62238;
  background-color: white;
}

.mainContainer .right {
  text-align: right;
}
